#*
 * Copyright (C) cedarsoft GmbH.
 *
 * Licensed under the GNU General Public License version 3 (the "License")
 * with Classpath Exception; you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *         http://www.cedarsoft.org/gpl3ce
 *         (GPL 3 with Classpath Exception)
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 3 only, as
 * published by the Free Software Foundation. cedarsoft GmbH designates this
 * particular file as subject to the "Classpath" exception as provided
 * by cedarsoft GmbH in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 3 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 3 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact cedarsoft GmbH, 72810 Gomaringen, Germany,
 * or visit www.cedarsoft.com if you need additional information or
 * have any questions.
 *#

Backends

  cedarsoft Serialization provides several base classes that can be extended.
  When you prefer to use your own serializing technology, you can create your own backend.

* Recommendation

  For XML based serialization, Stax or Stax Mate is recommended.

* Stax

  This backend is based on the new - and very fast and comfortable - XML api added
  to JDK 1.6 (JSR-173).

  No external libraries are necessary to use the Stax backend. But it is suggested to add {{{http://woodstox.codehaus.org}Woodstox}}
  or another Stax aware XML processor to improve the performance.

  Serializers should extend {{{./xref/com/cedarsoft/serialization/stax/AbstractStaxSerializer.html}<AbstractStaxSerializer>}}.

**  Maven dependency:

+---
<dependency>
  <groupId>com.cedarsoft.serialization</groupId>
  <artifactId>stax</artifactId>
  <version>${currentStableVersion}</version>
</dependency>
+---

  Optional Woodstox dependency:

+---
<dependency>
  <groupId>org.codehaus.woodstox</groupId>
  <artifactId>woodstox-core-asl</artifactId>
  <version>4.0.6</version>
</dependency>
+---

* Stax Mate

  Stax Mate is a small extension to Stax that offers an improved API to serialize XML. The code looks a bit cleaner and it
  is saving you a few key strokes.

  Since it is based on Stax you get the same performance.

  Serializers should extend {{{./xref/com/cedarsoft/serialization/stax/AbstractStaxMateSerializer.html}<AbstractStaxMateSerializer>}}.

**  Maven dependency:

+---
<dependency>
  <groupId>com.cedarsoft.serialization</groupId>
  <artifactId>stax-mate</artifactId>
  <version>${currentStableVersion}</version>
</dependency>
+---

  Optional Woodstox dependency:

+---
<dependency>
  <groupId>org.codehaus.woodstox</groupId>
  <artifactId>woodstox-core-asl</artifactId>
  <version>4.0.6</version>
</dependency>
+---

* Custom Backend

  Custom backends can easily be created. It only takes a few lines of code. There exists an abstract base class
  for XML based serialization ({{{./xref/com/cedarsoft/serialization/AbstractXmlSerializer.html}<AbstractXmlSerializer>}}).

  Custom backend implementations should extend {{{./xref/com/cedarsoft/serialization/AbstractSerializer.html}AbstractSerializer}}.

+---
<dependency>
  <groupId>com.cedarsoft.serialization</groupId>
  <artifactId>serialization</artifactId>
  <version>${currentStableVersion}</version>
</dependency>
+---
