#*
 * Copyright (C) cedarsoft GmbH.
 *
 * Licensed under the GNU General Public License version 3 (the "License")
 * with Classpath Exception; you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *         http://www.cedarsoft.org/gpl3ce
 *         (GPL 3 with Classpath Exception)
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 3 only, as
 * published by the Free Software Foundation. cedarsoft GmbH designates this
 * particular file as subject to the "Classpath" exception as provided
 * by cedarsoft GmbH in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 3 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 3 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact cedarsoft GmbH, 72810 Gomaringen, Germany,
 * or visit www.cedarsoft.com if you need additional information or
 * have any questions.
 *#

Download

  cedarsoft Serialization can be downloaded using {{Maven}} or downloaded {{{Manual}manually}}.

  The current stable version is: ${currentStableVersion}

  The current development version is: ${currentDevelopmentVersion}


* {Manual} download

  There exists jars containing all dependencies for each backend. Those can be downloaded here:

** Current stable version

  {{{http://nexus.cedarsoft.com/content/groups/public/com/cedarsoft/serialization/stax/${currentStableVersion}/stax-${currentStableVersion}-all.jar}Stax}}
  {{{http://nexus.cedarsoft.com/content/groups/public/com/cedarsoft/serialization/stax-mate/${currentStableVersion}/stax-mate-${currentStableVersion}-all.jar}Stax Mate}}
  {{{http://nexus.cedarsoft.com/content/groups/public/com/cedarsoft/serialization/${currentStableVersion}/serialization-${currentStableVersion}-all.jar}Custom}}


** Current development version

  {{{http://nexus.cedarsoft.com/service/local/artifact/maven/redirect?r=snapshots&g=com.cedarsoft.serialization&a=stax&v=${currentDevelopmentVersion}}Stax}}
  {{{http://nexus.cedarsoft.com/service/local/artifact/maven/redirect?r=snapshots&g=com.cedarsoft.serialization&a=stax-mate&v=${currentDevelopmentVersion}}Stax Mate}}
  {{{http://nexus.cedarsoft.com/service/local/artifact/maven/redirect?r=snapshots&g=com.cedarsoft&a=serialization&v=${currentDevelopmentVersion}}Custom}}

* {Maven}

  cedarsoft Serialization can be used by adding a Maven dependency to your project. The artifacts are hosted at Maven Central.


  Depending on the preferred backend one of the following dependencies has to be added

**  Stax:

+---
<dependency>
  <groupId>com.cedarsoft.serialization</groupId>
  <artifactId>stax</artifactId>
  <version>${currentStableVersion}</version>
</dependency>
+---

  Optional Woodstox dependency:

+---
<dependency>
  <groupId>org.codehaus.woodstox</groupId>
  <artifactId>woodstox-core-asl</artifactId>
  <version>4.0.6</version>
</dependency>
+---


**  Stax Mate:

+---
<dependency>
  <groupId>com.cedarsoft.serialization</groupId>
  <artifactId>stax-mate</artifactId>
  <version>${currentStableVersion}</version>
</dependency>
+---

  Optional Woodstox dependency:

+---
<dependency>
  <groupId>org.codehaus.woodstox</groupId>
  <artifactId>woodstox-core-asl</artifactId>
  <version>4.0.6</version>
</dependency>
+---


**  Custom implementation:

+---
<dependency>
  <groupId>com.cedarsoft.serialization</groupId>
  <artifactId>serialization</artifactId>
  <version>${currentStableVersion}</version>
</dependency>
+---



* Snapshots of latest development version

  The current development version is: ${currentDevelopmentVersion}

  The snapshots are stored at {{http://nexus.cedarsoft.com/content/repositories/public-snapshots/}}. Just add a repository
  entry to your pom.xml:
  
+---
<repositories>
  <repository>
    <id>cedarsoftSnapshotRepository</id>
    <name>cedarsoft Snapshot Repository</name>
    <url>http://nexus.cedarsoft.com/content/repositories/snapshots/</url>
    <snapshots>
      <enabled>true</enabled>
    </snapshots>
  </repository>
</repositories>
+---

